.custom-button {
    padding: 10px 20px;
    background-color: var(--cor-header, #d58a24); 
    color: var(--cor-fundo, #f4f4f4); 
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.custom-button:hover {
    background-color: var(--cor-texto1, #3e6606); 
    transform: translateY(-2px);
    color: var(--cor-fundo, #f4f4f4); 
}

.custom-button:active {
    transform: translateY(0);
}

.custom-button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}