@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Winky+Sans:ital@0;1&display=swap');

:root {
    --cor-header: #d58a24;
    --cor-fundo: #f4f4f4;
    --cor-texto1: #3e6606;
    --cor-texto2: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: "Winky Sans", sans-serif;
}

body {
    line-height: 1.6;
    color: var(--cor-texto2);
    background-color: var(--cor-fundo);
}

header {
    background-color: var(--cor-header);
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.cabecalho-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-menu a.active {
    font-weight: bold;
    color: #302f2f;
}

.logo a {
    display: flex;
    align-items: center;
    color: #f4f4f4;
    text-decoration: none;
    transition: color 0.3s ease;
}

.logo a:hover {
    color: #dbdbdb;
}

.logo-imagem {
    height: 3.5rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.logo-texto {
    font-size: 1.7rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    text-align: right;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 0 0 15px;
}

nav ul li a {
    color: #f4f4f4;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #dbdbdb;
    text-decoration: underline;
}

main {
    padding: 0 20px;
}

section {
    padding: 2rem 0;
    margin-bottom: 1rem;
    background-color: #fff;
    padding: 2rem 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--cor-texto1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

.botao-primario,
.botao-secundario {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.botao-primario {
    background-color: #FFC107;
    color: #333;
}

.botao-primario:hover {
    background-color: #FFA000;
}

@media (max-width: 768px) {
    .cabecalho-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }

    nav {
        width: 100%;
    }

    nav ul {
        text-align: left;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

@media (max-width: 576px) {
    .contato-conteudo {
        flex-direction: column;
    }

    .botao-primario,
    .botao-secundario {
        display: block;
        margin: 10px 0;
        text-align: center;
    }
}