.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: var(--cor-fundo);
}

.container_imagem {
    width: 60%;
}

.container_imagem .imagem {
    height: 100vh;
    width: 100%;
    box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.3);
}

.container_forms {
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_forms h2 {
    margin-top: 2em;
    text-align: center;
    font-size: 40px;
}

.forms {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 20em;
    height: 25em;
}

.forms input {
    width: 100%;
    height: 5%;
    padding: 10px;
    margin-bottom: 1em;
    margin-top: 0.5em;
    outline: none;
}

.forms button {
    width: 90%;
    align-self: center;
    margin: 0.5em;
    padding: 0.5em;
    background-color: var(--cor-header);
    border: none;
    border-radius: 8px;
}

.forms button:hover {
    color: var(--cor-fundo);
    background-color: var(--cor-texto2);
    cursor: pointer;
}

.forms span {
    align-self: center;
    margin-top: 1em;
    color: var(--cor-texto2);
}

.forms span a {
    color: var(--cor-texto2);
}

@media (max-width: 992px) {
    .container {
        flex-direction: column;
    }

    .container_imagem {
        width: 100%;
        height: 30vh;
    }

    .container_imagem .imagem {
        height: 30vh;
    }

    .container_forms {
        width: 100%;
        height: 70vh;
    }

    .container_forms h2 {
        margin-top: 1em;
    }

    .forms {
        width: 80%;
        max-width: 350px;
        height: auto;
        padding-bottom: 2em;
    }
}