.main {
    width: 100%;
    background: url('https://images.unsplash.com/photo-1500382017468-9049fed747ef?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
}

.form_container {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    width: 50%;
    margin: 23px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.description {
    align-self: center;
    flex: 0 0 auto;
    max-width: 250px;
    text-align: left;
}

.description h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.description p {
    font-size: 16px;
    color: #666;
}

.form {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
    width: 30%;
}

.form_group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.form_group label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.form_group input,
select {
    background-color: #fff;
    padding: 12px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}

.form_group input:focus {
    border-color: #007bff;
}

.form-group select.state {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    height: auto; 
    box-sizing: border-box; 
    margin-top: 5px; 
    transition: border-color 0.3s, box-shadow 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.9H5.4c-7.3%200-11%208.6-5.8%2013.8l140.7%20140.7c3%203%207.7%203%2010.7%200l140.7-140.7c5.2-5.2%201.5-13.8-5.8-13.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    padding-right: 30px;
}

.form-group select.state:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}