.section {
    padding: 2rem 0;
    margin-bottom: 1rem;
    background-color: #fff;
    padding: 2rem 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.conteudoSecao {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 20px 0;
}

.sobreConteudo {
    flex: 1;
    min-width: 300px;
}

.valoresConteudo > div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.card1 {
    width: 18rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.card1 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.cardBody {
    padding: 15px;
    text-align: center;
}

.cardText {
    color: var(--cor-texto2);
}

.cardText strong {
    color: var(--cor-texto1);
    display: block;
    margin-bottom: 5px;
}

/* Breadcrumb */
.breadcrumb {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
    padding: 10px 0;
    color: #333;
    flex-wrap: wrap;
}

.breadcrumb a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.breadcrumb a:hover {
    color: var(--cor-header);
}

.separator {
    color: #777;
}


@media (max-width: 992px) {
    .conteudoSecao {
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .valoresConteudo > div {
        flex-direction: column;
        align-items: center;
    }

    .card1 {
        width: 90%;
        max-width: 300px;
    }
}

@media (max-width: 576px) {
    .breadcrumb {
        margin: 10px 0;
        font-size: 16px;
    }
}